@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-dropdown {
    background-color: #20262b;
    max-width: 350px;
    color: #7c828d;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}

:is(.icon, .project-caret) svg {
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar-dropdown.active .sidebar-title {
    color: #d5d6d7;
}

.sidebar-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    padding: 1px 18px 0 20px;
    flex-shrink: 0;
    top: -1px;
    letter-spacing: 0.28px;
    /* add transition */
    transition: background-color 0.15s ease;
}

.sidebar-title:hover {
    background-color: #2b343b;
}

/* .sidebar-dropdown .sidebar-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2b343b;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
} */

.new-project-button {
    background: #384047;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    margin: 5px 20px;
    border-radius: 5px;
    height: 24px;
    cursor: pointer;
    text-transform: uppercase;
    color: #7c828d;
    letter-spacing: 0.28px;
    transition: background 0.15s ease;
}

.new-project-button:hover {
    background: #191f25;
}

.new-project-button .icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    fill: #7c828d;
}

.project-everything,
.project-bar {
    display: flex;
    flex-shrink: 0;
    height: 32px;
    align-items: center;
    width: 100%;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

:is(.project-everything, .project-bar, .project-phase):hover {
    background-color: #2b343b;
}

.project-icon {
    width: 20px;
    height: 20px;
    margin-inline: 20px 10px;
}

.project-everything .icon {
    background: #384047;
    /* margin-left: 10px; */
    stroke-width: 1.3;
    border-radius: 4px;
    padding: 4px;
}

.project-everything .icon svg {
    width: 12px;
    height: 12px;
    stroke: #ababab;
    fill: none;
    stroke-width: 1.3;
}

.project-bar > .icon {
    margin-inline: 4px 10px;
}

.project-bar .icon div {
    height: 100%;
    width: 100%;
    background-color: var(--avatar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    font-size: 13px;
}

.project-name {
    font-size: 14px;
}

a {
    color: unset;
    text-decoration: none;
    text-transform: none;
}

.project-caret {
    margin-left: 5px;
    width: 11px;
    height: 11px;
    transform: rotate(-90deg);
    transition: 0.2s ease-in-out;
}

.project-open .project-caret {
    transform: rotate(0deg);
}

.project-caret svg {
    fill: #7c828d;
}

.project-phases {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.project-phase {
    display: flex;
    height: 32px;
    align-items: center;
    padding-left: 45px;
    cursor: pointer;
    font-size: 13px;
}

.project-icons {
    display: none;
    margin-left: auto;
    margin-right: 10px;
    gap: 5px;
    transition: 0.2s ease-in-out;
}

.project-icons .icon {
    fill: #7c828d;
    width: 12px;
    height: 12px;
    margin-inline: 0 5px;
}

:is(.project-everything, .project-bar, .project-phase):hover .project-icons {
    display: flex;
}

.project-phase-circle {
    width: 7px;
    height: 7px;
    margin-right: 8px;
    border: 1px var(--circle-bg, gray) dashed;
    border-radius: 50%;
    background-color: var(--circle-bg);
}

.project-phase .project-phase-icons {
    margin-inline: auto 10px;
}

.project-phase .project-phase-icons .icon {
    fill: #7c828d;
    width: 12px;
    height: 12px;
    display: none;
}

.project-phase .phase-task-number {
    margin-right: 12px;
}

.project-phase:hover .project-phase-icons .icon {
    display: flex;
}
